#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

# Modem
on early-boot && property:vendor.qcom.soc.machine=MSM8998
    setprop ro.vendor.qcom.soc.enable_modem_services 1
